<form [formGroup]="filterForm">
  <div class="book-list-header">
    <div>
      <p-autoComplete placeholder="Поиск" formControlName="search" />
    </div>
    <div>
      <p-multiSelect
        [options]="sortAuthors"
        placeholder="Автор"
        formControlName="sortAuthors"
      />
    </div>
    <div>
      <p-multiSelect
        [options]="sortLanguages"
        placeholder="Язык"
        formControlName="sortLanguages"
      />
    </div>

    <div class="book-list-pages">
      <span>Кол-во страниц от</span>
      <p-inputNumber formControlName="minPages"></p-inputNumber>
      <span>до</span>
      <p-inputNumber formControlName="maxPages"></p-inputNumber>
    </div>

    <div>
      <p-multiSelect
        [options]="sortGenres"
        placeholder="Жанр"
        formControlName="sortGenres"
      />
    </div>
  </div>
</form>
